---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SideNav from '../components/SideNav.astro';
---

<BaseLayout title="Trips">
  <SiteHeader />
  <SideNav />
  <main>
    <h1>Trips</h1>
  </main>
  <SiteFooter />
</BaseLayout>
